# Backend
SERVER_NAME=localhost
SERVER_HOST=https://${SERVER_NAME}
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080", "http://development.site", "https://staging.site", "https://production.site"]
PROJECT_NAME="KodeCamp LMS Backend"
SECRET_KEY=ABCDEFGHIJLKALSKAFJS12981C1MC912C21C9N182NC1982C1C1N1NC
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=xxxxxxxxxxxx

# Frontend
CLIENT_NAME=localhost
CLIENT_HOST=https://${CLIENT_NAME}
PASSWORD_RESET_PATH=/forgot-password

# SMTP
SMTP_TLS=True
SMTP_PORT=465
SMTP_HOST=mail.example.org
SMTP_USER=admin@example.org
SMTP_PASSWORD=xxxxxxxxxxxxxxxx
EMAILS_FROM_EMAIL=admin@example.org

USERS_OPEN_REGISTRATION=False

# Sentry
SENTRY_DSN=https://${get_dsn_from_sentry.io}

# Postgres
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# File storage
STORAGE_METHOD=file
STORAGE_PATH=uploads
STORAGE_BASE_URL=/uploads
